
    <%= @swimmer.name %>
    <%= @swimmer.age %>
    <%= @swimmer.notes %>
     <%=@swimmer.instructor.username%>


<form method="post" action="/swimmers/<%= @swimmer.id %>/delete">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Swimmer"/>
</form>

<form method="post" action="/swimmers/<%= @swimmer.id %>/edit">
  <input type="hidden" name="_method" value="EDIT" />
  <input type="submit" value="Edit Swimmer"/>
</form>
